{{ form_errors(form) }}

<div class="">
    {{ form_errors(form.translations) }}
    {{ form_widget(form.translations) }}
</div>
{{ form_widget(form.openInNewWindow, { name: 'open.new.window' }) }}
{{ form_row(form.url, { label: 'URL' }) }}
{{ form_widget(form.active, { name: 'active' }) }}

{% if entity is defined and entity.image is not null %}
    {{ form_row(form.image.file, { div_class: 'no-bottom', image: entity.image.path }) }}
{% else %}
    {{ form_row(form.image.file, { div_class: 'no-bottom', image: null }) }}
{% endif %}

{{ form_rest(form) }}