{% extends "AdminBundle:Base:layout.html.twig" %}

{% block section %}sliders{% endblock %}

{% block content %}
    
     <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ entity.title | striptags }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="{{ path('coreextra_slider_index') }}">{{ "slider.plural" | trans }}</a></li>
        <li><a href="{{ path('coreextra_slider_show', { id: entity.id }) }}">{{ entity.title | striptags }}</a></li>
      </ol>
    </section>
   
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            
            {% include 'CoreBundle:Base:alert.messages.html.twig' %}
            
            <div class="box box-info">
                <div class="box-body show-tables">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ "title" | trans }}</td>
                            <td>{{ entity.title | raw }}</td>
                        </tr>
                        <tr>
                            <td>{{ "caption" | trans }}</td>
                            <td>{{ entity.caption | raw}}</td>
                        </tr>
                        <tr>
                            <td>{{ "open.new.window" | trans }}</td>
                            <td>
                                {% if entity.openInNewWindow %}
                                    <span class="label label-success">{{ "yes" | trans }}</span>
                                {% else %}
                                    <span class="label label-important">{{ "no" | trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "URL" }}</td>
                            <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
                        </tr>
                        <tr>
                            <td>{{ "active" | trans }}</td>
                            <td>
                                {% if entity.active %}
                                    <span class="label label-success">{{ "yes" | trans }}</span>
                                {% else %}
                                    <span class="label label-important">{{ "no" | trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "order.sort" | trans }}</td>
                            <td>{{ entity.order }}</td>
                        </tr>
                        <tr>
                            <td>{{ "image.singular" | trans }}</td>
                            <td>
                                {% if entity.image %}
                                    <img width="200" src="{{ asset('uploads/images/' ~ entity.image) }}" alt="{{ entity.image }}" />
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="col-sm-12"> 
                        <a href="{{ path('coreextra_slider_edit', { id: entity.id }) }}" class="btn btn-primary btn-flat "><i class="ion-compose"></i> {{ "edit.singular" | trans }}</a>
                        <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ "delete" | trans }}</button>
                        <form id="delete-entity" action="{{ path('coreextra_slider_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
                  
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#delete-btn').on('click', function(e) {
                e.preventDefault();

                if (confirm('{{ "are.you.sure" | trans }}')) {
                    $('#delete-entity').submit();
                }
            });

        });
    </script>
{% endblock %}