{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}
{% form_theme edit_form 'AdminBundle:Form:fields.html.twig' %}

{% block section %}newsletters{% endblock %}

{% block content %}
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    {{ "edit.singular" | trans }} {{ entity.email }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('admin_default_index') }}">{{ "home" | trans }}</a>
                        <i class="icon-angle-right"></i>
                        <a href="javascript:">{{ "setup" | trans }}</a>
                        <i class="icon-angle-right"></i>
                        <a href="{{ path('coreextra_newsletter_index') }}">{{ "newsletter.plural" | trans }}</a>
                        <i class="icon-angle-right"></i>
                        <a href="{{ path('coreextra_newsletter_show', { id: entity.id }) }}">{{ entity.email }}</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="{{ path('coreextra_newsletter_edit', { id: entity.id }) }}">{{ "edit.singular" | trans }} </a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->

        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable tabbable-custom boxless custom-border">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#info_tab" data-toggle="tab">{{ "information" | trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="info_tab">
                            <div class="portlet box custom">
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    {{ form_start(form, {
                                                        'action': path('coreextra_newsletter_update', { id: entity.id }), 
                                                        'method': 'post', 
                                                        'attr': {'class': 'form-horizontal form-row-seperated'}
                                                        }) }}
                                        {{ include('CoreExtraBundle:Newsletter/Subscripts:_form.html.twig', { form: edit_form }) }}

                                        <input type="hidden" name="_method" value="PUT" />

                                        <div class="form-actions">
                                            <button type="submit" class="btn blue"><i class="icon-ok"></i> {{ "save" | trans }}</button>
                                            <a href="{{ path('coreextra_newsletter_show', { id: entity.id }) }}" class="btn">{{ "cancel.singular" | trans }}</a>
                                            <button type="submit" class="btn red pull-right" id="delete-btn">{{ "delete" | trans }}</button>
                                        </div>
                                    {{ form_end(form) }}
                                    <!-- END FORM-->
                                </div>
                            </div>

                            <form id="delete-entity" action="{{ path('coreextra_newsletter_delete', { id: entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
           
        });
    </script>
{% endblock %}