{% extends "AdminBundle:Base:layout.html.twig" %}
{% form_theme form 'AdminBundle:Form:fields.html.twig' %}

{% block section %}shippings{% endblock %}

{% block content %}
    
     <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "newsletter.shipping.new" | trans }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="{{ path('coreextra_newsletter_shipping') }}">{{ "newsletter.shipping.plural" | trans }}</a></li>
        <li><a href="{{ path('coreextra_newsletter_newshipping') }}">{{ "new.singular" | trans }}</a></li>
      </ol>
    </section>
      
  
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <!-- BEGIN FORM-->
                {{ form_start(form, {
                                    'action': path('coreextra_newsletter_newshipping'), 
                                    'method': 'post', 
                                    'attr': {'class': 'form-horizontal form-row-seperated'}
                                    }) }}
                    <div class="box-body">
                        {{ include('CoreExtraBundle:Newsletter/Shipping:_form.no.plus.html.twig', { form: form }) }}
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                                         
                        <button type="submit" class="btn btn-primary btn-flat"><i class="icon-ok"></i> {{ "save" | trans }}</button>
                        <a href="{{ path('coreextra_newsletter_shipping') }}" class="btn btn-default btn-flat">{{ "cancel.singular" | trans }}</a>
                    </div>
                {{ form_end(form) }}
                <!-- END FORM-->
            </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
        });
    </script>
{% endblock %}