{{ form_errors(form) }}
    
<div class="">
    {{ form_errors(form.translations) }}
    {{ form_widget(form.translations) }}
</div>
{{ form_row(form.metaTags, { label: 'meta.tags' }) }}

{% if menuItemId is not defined %}
    {{ form_row(form.parentMenuItem, { label: 'menu.parent' }) }}
{% endif %}

{% if entity is defined and entity.image is not null %}
    {{ form_row(form.image.file, { div_class: 'no-bottom', image: '/menu/' ~ entity.id ~ '/'  ~ entity.image.path }) }}
{% else %}
    {{ form_row(form.image.file, { div_class: 'no-bottom' }) }}
{% endif %}

{{ form_row(form.url, { label: 'URL' }) }}
{{ form_row(form.icon, { label: 'Icono' }) }}
{{ form_row(form.className, { label: 'menu.class.name' }) }}
{{ form_widget(form.visible, { label: 'visible' }) }}
{{ form_widget(form.active, { label: 'active' }) }}
 

{{ form_rest(form) }}