{% extends twig_global.getParameter('extended_layout_admin') ? twig_global.getParameter('extended_layout_admin') : 'AdminBundle:Base:layout.html.twig' %}

{% block section %}menuitems{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ entity.name }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "dashboard" | trans }}</a></li>
        <li><a href="{{ path('coreextra_menuitem_index') }}">{{ "menu.plural" | trans }}</a></li>
        {% if entity.parentMenuItem %}
            <li><a href="{{ path('coreextra_menuitem_show', { id: entity.parentMenuItem.id }) }}">{{ entity.parentMenuItem.name }}</a></li>
        {% endif %}
        <li><a href="{{ path('coreextra_menuitem_show', { id: entity.id }) }}">{{ entity.name }}</a></li>
      </ol>
    </section>
      
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              
              {% include 'CoreBundle:Base:alert.messages.html.twig' %}
                            
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#info_tab" data-toggle="tab" aria-expanded="true">{{ "information" | trans }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active show-tables" id="info_tab">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{{ "name" | trans }}</td>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ "menu.short.description" | trans }}</td>
                            <td>{{ entity.shortDescription | raw}}</td>
                        </tr>
                        <tr>
                            <td>{{ "description" | trans }}</td>
                            <td>{{ entity.description | raw}}</td>
                        </tr>
                        <tr>
                            <td>{{ "meta.title" | trans }}</td>
                            <td>{{ entity.metaTitle }}</td>
                        </tr>
                        <tr>
                            <td>{{ "meta.description" | trans }}</td>
                            <td>{{ entity.metaDescription }}</td>
                        </tr>
                        <tr>
                            <td>{{ "meta.tags" | trans }}</td>
                            <td>{{ entity.metaTags }}</td>
                        </tr>
                        <tr>
                            <td>{{ "menu.parent" | trans }}</td>
                            <td>{% if entity.parentMenuItem.id is defined%}<a href="{{ path('coreextra_menuitem_show', { id: entity.parentMenuItem.id }) }}">{{ entity.parentMenuItem }}</a>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ "image.singular" | trans }}</td>
                            <td>
                                {% if entity.image %}
                                    <img width="200" src="{{ asset('uploads/images/menu/' ~ entity.id ~ '/' ~ entity.image) }}" alt="{{ entity.image }}" />
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "URL" }}</td>
                            <td><a href="{{ entity.url }}">{{ entity.url }}</a></td>
                        </tr>
                        <tr>
                            <td>{{ "Icono" | trans }}</td>
                            <td><i class="fa fa-{{ entity.icon }}"></i></td>
                        </tr>
                         <tr>
                            <td>{{ "visible" | trans }}</td>
                            <td>
                                {% if entity.visible %}
                                    <span class="label label-success">{{ "yes" | trans }}</span>
                                {% else %}
                                    <span class="label label-danger">{{ "no" | trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "active" | trans }}</td>
                            <td>
                                {% if entity.active %}
                                    <span class="label label-success">{{ "yes" | trans }}</span>
                                {% else %}
                                    <span class="label label-danger">{{ "no" | trans }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        
                        </tbody>
                    </table>
                    <div class="box-footer">
                        <div class="col-sm-12"> 
                            <a href="{{ path('coreextra_menuitem_edit', { id: entity.id }) }}" class="btn btn-primary btn-flat"><i class="ion-compose"></i> {{ "edit.singular" | trans }}</a>
                            <button type="submit" class="btn btn-danger btn-flat pull-right" id="delete-btn">{{ "delete" | trans }}</button>    
                            <form id="delete-entity" action="{{ path('coreextra_menuitem_delete', { id: entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(delete_form) }}
                            </form>
                        </div>
                    </div><!-- /.box-footer -->
                </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
            </div><!-- nav-tabs-custom -->
          </div>
      </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
 
        jQuery(document).ready(function() {
            $('#delete-btn').on('click', function(e) {
                e.preventDefault();

                if (confirm('{{ "are.you.sure" | trans }}')) {
                    $('#delete-entity').submit();
                }
            });

        });
    </script>
{% endblock %}