{{ form_errors(form) }}

<div class="">
    {{ form_errors(form.translations) }}
    {{ form_widget(form.translations) }}
</div>
{{ form_row(form.metaTags, { label: 'meta.tags' }) }}
{{ form_row(form.image.file, { div_class: 'no-bottom' }) }}
{{ form_widget(form.visible, { label: 'visible' }) }}
{{ form_widget(form.active, { label: 'active' }) }}


{{ form_rest(form) }}